<header>
    <div class="container">
      <img src="https://w7.pngwing.com/pngs/319/442/png-transparent-logo-sports-association-graphic-design-annual-day-text-photography-sport.png" alt="Prasanth" class="logo">
      
      <nav>  
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/sports" routerLinkActive="active">Menu</a>
        <a routerLink="/booking" routerLinkActive="active">Booking</a>
        <a routerLink="/cart" routerLinkActive="active">Cart</a>
        <a routerLink="/about" routerLinkActive="active">About</a>
        <a routerLink="/contact-us" routerLinkActive="active">Contact</a> 
        <a routerLink="/" routerLinkActive="active">LogOut</a>
      </nav>
    </div>
  </header>
  

